{% extends "_partials/base.html" %}

{% block title %}{{ page.Title }} - {{ config.title }}{% endblock %}

{% block content %}
  <article>
    <h1 class="page-title">{{ page.Title }}</h1>
    {% if page.Date or page.FrontMatter.IsSet("tags") %}
      <div class="page-meta">
        <div class="meta-left">
          {% if page.Date %}<time>{{ page.Date | date:"2006-01-02" }} {{ page.Date | date:"Mon" }}</time>{% endif %}
          {% if page.FrontMatter.IsSet("categories") %}
            {% for name in page.FrontMatter.GetStringSlice("categories") %}
              <a href="{{ get_taxonomy_term_url("categories", name) }}">{{ name }}</a>
            {% endfor %}
          {% endif %}
        </div>
        {% if page.FrontMatter.IsSet("tags") %}
          <div class="tags">
            {% for tag in page.FrontMatter.GetStringSlice("tags") %}
              <a href="{{ get_taxonomy_term_url("tags", tag) }}" class="tag">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="content">
      {{ page.Content | safe }}
    </div>
    {% with related = pages.Related(page) %}
      {% set prev = related.Prev() %}
      {% set next = related.Next() %}
      {%- if prev or next %}
        <nav class="pager">
          <div class="pager-item">
            {% if prev %}
              <span class="pager-label">← 上一篇</span><br>
              <a href="{{ prev.Permalink }}">{{ prev.Title }}</a>
            {% endif %}
          </div>
          <div class="pager-item pager-next">
            {% if next %}
              <span class="pager-label">下一篇 →</span><br>
              <a href="{{ next.Permalink }}">{{ next.Title }}</a>
            {% endif %}
          </div>
        </nav>
      {% endif %}
    {% endwith %}
  </article>
{% endblock %}
