<div>
  {%- if page.FrontMatter.Get("authors") %}
    By
    {%- for name in page.FrontMatter.Get("authors") %}
      <a href="{{ get_taxonomy_url("authors", name) }}">{{ name }}</a>
    {%- endfor %}
    </span>
  {%- endif %}
  {%- if page.FrontMatter.Get("categories") %}
    <span class="entry-info-sep">|</span>
    <span>
      In
      {%- for name in page.FrontMatter.Get("categories") %}
        <a href="{{ get_taxonomy_url("categories", name) }}">{{ name }}</a>
      {%- endfor %}
    </span>
  {%- endif %}
  {%- if page.FrontMatter.Get("tags") %}
    <span class="entry-info-sep">|</span>
    <span>
      0f
      {%- for name in page.FrontMatter.Get("tags") %}
        <a href="{{ get_taxonomy_url("tags", name) }}">{{ name }}</a>
      {%- endfor %}
    </span>
  {%- endif %}
</div>
