{% extends "common/layout.html" %}
{% block title %}{{ "作者" }} · {{ block.Super }}{% endblock %}
{% block content %}
  {% for label in labels %}
    <h1><a href="{{ label.Name|absURL:"authors.list" }}">{{ label.Name }}({{ label.List | length }})</a></h1>
    <ul>
      {% for page in label.List %}
        <li>
          <h2><a href="{{ page.URL|absURL }}">{{ page.Title }}</a></h2>
          {% include "post.info.html" %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
  {% if labels | length == 0 %}
    <div style="text-align: center; font-size: 1.2rem; margin-top: 2rem;">
      No Authors
    </div>
  {% endif %}
{% endblock %}
