{% extends "common/layout.html" %}
{% block title %}{{ "分类" }} · {{ block.Super }}{% endblock %}
{% block content %}

  {% macro page_list(label) %}
    <h1><a href="{{ label.Name|absURL:"categories.list" }}">{{ label.Name }}({{ label.List | length }})</a></h1>
    <ul>
      {% for page in label.List %}
        <li>
          <h2><a href="{{ page.URL|absURL }}">{{ page.Title }}</a></h2>
          {% include "post.info.html" %}
        </li>
      {% endfor %}
    </ul>

    {% for sublabel in label.Children %}
      {{ page_list(sublabel) }}
    {% endfor %}
  {% endmacro %}

  {% for label in labels %}
    {{ page_list(label) }}
  {% endfor %}
  {% if labels | length == 0 %}
    <div style="text-align: center; font-size: 1.2rem; margin-top: 2rem;">
      No Categories
    </div>
  {% endif %}
{% endblock %}
