{% extends "common/layout.html" %}
{% block content %}
  <h1>{{ page.Title }}</h1>
  {% if page.Type != "pages" %}
    {% include "post.info.html" %}
  {% endif %}
  <hr/>
  <div class="content">
    {{ page.Content | safe }}
  </div>
  <hr/>
  <ul class="pager">
    {% if page.HasPrev() %}
      <li>Prev:<a href="{{ page.Prev.URL|absURL }}">{{ page.Prev.Title }}</a></li>
    {% endif %}
    {% if page.HasNext() %}
      <li>Next:<a href="{{ page.Next.URL|absURL }}">{{ page.Next.Title }}</a></li>
    {% endif %}
  </ul>
{% endblock %}
