{% extends "common/base.html" %}
{% block content %}
  <ul class="entry-list">
    {%- for page in paginator.List %}
      <li>
        <article>
          <div class="entry-header">
            <h1 class="entry-title">
              {% if page.Get("top") %}<i class="fa fa-thumb-tack text-danger"></i>{% endif %}
              <a href="{{ page.Permalink }}" rel="bookmark" title="Permalink to {{ page.Title }}">{{ page.Title }}</a>
            </h1>
            {% include 'post.info.html' %}
          </div>
          <hr class="entry-hr" />
          {%- if loop.First and paginator.PageNum == 1 %}
            <div class="entry-content entry-summary">
              {{ page.Content | safe }}
            </div>
          {% else %}
            <div class="entry-content entry-summary">
              {{ page.Summary | safe }}
            </div>
            <div class="text-center">
              <a class="btn entry-read-more" href="{{ page.Permalink }}">{{ "阅读全文 »" }}</a>
            </div>
          {%- endif %}
        </article>
      </li>
    {%- endfor %}
    {% if paginator.Total > 1 %}
      <li>{% include 'common/pagination.html' %}</li>
    {% endif %}
  </ul>
{% endblock content %}
