{%- extends "common/base.html" %}
{%- block title %}{{ page.Title }} · {{ block.Super }}{%- endblock %}
{%- block content %}
  <article>
    <div class="entry-header">
      <h1 class="entry-title"><a href="{{ page.Permalink }}">{{ page.Title }}</a></h1>
    </div>
    <hr class="entry-hr" />
    <div class="entry-content">
      {{ page.Content | safe }}
    </div>
    {%- include "post.comment.html" %}
  </article>
{%- endblock %}

{%- block stylesheet %}
  {{ block.Super -}}
  {%- for file in page.Meta.Get("custom_css") | split:"," %}
    {%- if file %}<link href="{{ file | absURL }}" rel="stylesheet">{%- endif %}
  {%- endfor %}
{%- endblock %}

{%- block javascript %}
  {{ block.Super -}}
  {%- for file in page.Meta.Get("custom_js") | split:"," %}
    {%- if file %}<script src="{{ file | absURL }}"></script>{%- endif %}
  {%- endfor %}
{%- endblock %}
