{%- extends "common/base.html" %}
{%- block title %}{{ page.Title }} · {{ block.Super }}{%- endblock %}
{%- block content %}
  <article>
    <div class="entry-header">
      <h1 class="entry-title"><a href="{{ page.Permalink }}">{{ page.Title }}</a></h1>
      {%- include 'post.info.html' %}
    </div>
    <hr class="entry-hr" />
    <div class="entry-content">
      {{ page.Content | safe }}
    </div>
    {%- include "post.honor.html" %}
    <hr class="entry-hr" />
    <ul class="entry-pager">
      {%- if page.HasPrev() %}
        <li class="previous">
          <a href="{{ page.Prev.Permalink }}" title="Previous article: {{ page.Prev.Title }}">
            <i class="fa fa-chevron-left"></i>
            {{ page.Prev.Title }}
          </a>
        </li>
      {%- endif %}
      {%- if page.HasNext() %}
        <li class="next">
          <a href="{{ page.Next.Permalink }}" title="Next article: {{ page.Next.Title }}">
            {{ page.Next.Title }}
            <i class="fa fa-chevron-right"></i>
          </a>
        </li>
      {%- endif %}
    </ul>
    {%- include "post.comment.html" %}
  </article>
{%- endblock %}
