<div class="entry-copyright">
  {% with authors = page.Meta.Get("authors") %}
    {% if authors %}
      <div>
        <i class="fa fa-user-o"></i>
        {{ "作者" }}:
        {% for author in authors %}
          <a href="{{ get_taxonomy_url("authors", author) }}">{{ author }}</a>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <div>
    <i class="fa fa-link"></i>
    {{ "链接" }}:
    <a href="{{ page.Permalink }}">{{ page.Permalink }}</a>
  </div>
  <div>
    <i class="fa fa-copyright"></i>
    {{ "版权" }}:
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank">
      <img class="hidden-xs" src="https://static.honmaple.com/images/pic/license.png" alt="CC BY-NC-SA 4.0" />
      {{ "知识共享署名-非商业性使用-相同方式共享4.0国际许可协议" }}
    </a>
  </div>
</div>

<div class="entry-honor">
  <button class="btn" data-target="#entry-honor-content" data-toggle="collapse">{{ _("赏") }}</button>
  <div class="collapse" id="entry-honor-content">
    <div class="entry-honor-content">
      <div class="entry-honor-alipay">
        <div class="entry-honor-mask">
          <button class="btn btn-success" data-target=".entry-honor-wechat" data-toggle="collapse">
            <i class="fa fa-wechat"></i>
            <span>{{ _("微信") }}</span>
          </button>
        </div>
      </div>
      <div class="entry-honor-wechat collapse">
        <img src="https://static.honmaple.com/images/pic/wechat.png" alt="wechat" />
      </div>
    </div>
  </div>
</div>
