:root {
  --accent: 15 118 110;
  --accent-light: 153 246 228;
  --accent-lighter: 204 251 241;
  --accent-dark: 17 94 89;

  --date: 120 113 108;

  --surface: 250 250 250;
  --surface-alt: 245 245 245;
  --surface-code: 38 38 38;

  --text: 38 38 38;
  --text-muted: 82 82 82;
  --text-inverse: 229 229 229;

  --border: 229 231 235;
  --border-lighter: 245 245 245;
}

.dark {
  --accent: 45 212 191;
  --accent-light: 94 234 212;
  --accent-lighter: 19 78 74;
  --accent-dark: 153 246 228;

  --date: 168 162 158;

  --surface: 23 23 23;
  --surface-alt: 38 38 38;
  --surface-code: 64 64 64;

  --text: 245 245 245;
  --text-muted: 163 163 163;
  --text-inverse: 38 38 38;

  --border: 64 64 64;
  --border-lighter: 38 38 38;
}
