{% extends "common/layout.html" %}
{% block content %}
  {% for year in pages.GroupBy("date:2006").OrderBy("name desc") %}
    {% for month in year.List.GroupBy("date:01") %}
      <h1>{{ year.Name }}/{{ month.Name }}({{ month.List | length }})</h1>
      <ul>
        {% for page in month.List %}
          <li>
            {{ page.Date | time:"2006-01-02" }}
            <h2><a href="{{ page.Path | absURL }}">{{ page.Title }}</a></h2>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endfor %}
{% endblock %}
