{% extends "common/layout.html" %}
{% block content %}
  <ul class="page-list">
    {% for page in paginator.List %}
      <li>
        <h2><a href="{{ page.Path | absURL }}">{{ page.Title }}</a></h2>
        {% include "post.info.html" %}
        <hr />
        <div>
          {{ page.Content | safe }}
        </div>
      </li>
    {% endfor %}
    {% if paginator.List | length == 0 %}
      <li>No Posts.</li>
    {% else %}
      {% if paginator.Total > 1 %}
        <li>{% include 'common/pagination.html' %}</li>
      {% endif %}
    {% endif %}
  </ul>
{% endblock %}
