<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-header" aria-expanded="false">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ config.site.url }}">
      <img class="navbar-logo" src="{{ config.site.logo }}" alt="{{ config.site.logo_name }}}">
    </a>
    {% if config.site.subtitle %}
      <p class="navbar-text">{{ "—— " + config.site.subtitle }}</p>
    {% endif %}
  </div>
  <div class="collapse navbar-collapse" id="nav-header">
    <ul class="nav navbar-nav">
      {% set categories = get_taxonomy("categories") %}
      {% if categories %}
        {% for term in categories.Terms %}
          {% if term.Children %}
            <li class="dropdown">
              <a href="{{ term.Permalink }}">{{ _(term.Name) }}</a>
              <ul class="dropdown-menu">
                {% for child in term.Children %}
                  <li><a href="{{ child.Permalink }}">{{ _(child.Name) }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li><a href="{{ term.Permalink }}">{{ _(term.Name) }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% for menu in config.params.extra.menus %}
        {% if menu.submenu %}
          <li class="dropdown">
            <a href="{{ menu.url | absURL }}">{{ menu.name }}</a>
            <ul class="dropdown-menu">
              {% for m in menu.submenu %}
                <li><a href="{{ m.url | absURL }}">{{ m.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li><a href="{{ menu.url | absURL }}">{{ menu.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <form action="search.html" class="navbar-form navbar-right" style="margin-top:10px;">
      <div class="form-group has-feedback">
        <input class="form-control input-sm" id="search" name="q" type="text" onfocus="this.placeholder='{{ _("搜索") }}'" onblur="this.placeholder=''">
        <i class="fa fa-search form-control-feedback"></i>
      </div>
    </form>
  </div>
</nav>
