{% extends "common/base.html" %}
{% block content %}
  <ul class="entry-list">
    {%- for article in paginator.List %}
      <li>
        <article>
          <div class="entry-header">
            <h1 class="entry-title">
              {% if article.Meta.top == 'true' %}<i class="fa fa-thumb-tack text-danger"></i>{% endif %}
              <a href="{{ site.url }}/{{ article.URL }}" rel="bookmark" title="Permalink to {{ article.Title }}">{{ article.Title }}</a>
            </h1>
          </div>
          <hr class="entry-hr" />
          {%- if loop.First and paginator.PageNum == 1 %}
            <div class="entry-content entry-summary">
              {{ article.Content }}
            </div>
          {% else %}
            <div class="entry-content entry-summary">
              {{ article.Summary }}
            </div>
            <div class="text-center">
              <a class="btn entry-read-more" href="{{ site.url }}/{{ article.URL }}">{{ "阅读全文 »" }}</a>
            </div>
          {%- endif %}
        </article>
      </li>
    {%- endfor %}
    {% if paginator.Total > 1 %}
      <li>{% include 'common/pagination.html' %}</li>
    {% endif %}
  </ul>
{% endblock content %}
