html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrap{
  min-height:100%;
  max-width: 800px;
  margin: 0 auto;
  padding:0;
}

.main{
  padding: 0 2rem;
  padding-bottom:60px;
  overflow:hidden;
  border: 1px solid #333;
  border-top: none;
  border-bottom: none;
}

.footer {
  margin:-40px auto 0 auto;
  height:40px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page-list {
  padding: 0;
}

.info {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  margin: 0;
  padding: 0;
}

.info li {
  margin-left: 0.5rem;
}

.pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #C74451;
}
