{%- block content %}
  <div class="encrypt-container">
    <div class="encrypt-form">
      <input class="encrypt-password" type="password" name="请输入密码" />
      <input class="encrypt-button" type="button" value="解密" onclick="decrypt(this)" />
    </div>
    <div class="encrypt-content" style="display:none;">{{ body | encrypt:params.password }}</div>
    {%- if params.description %}<div>{{ params.description }}</div>{%- endif %}
  </div>
{%- endblock %}

{%- if _counter == 0 %}
  {%- block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ config.site.url }}/static/js/encrypt.js"></script>
  {%- endblock %}
{%- endif %}
